@import "tailwindcss";
body {
  font-family: sans-serif;
  background: #f3f3f3;
  margin: 0;
  padding: 2rem;
}

.container {
  max-width: 600px;
  margin: auto;
  background: white;
  padding: 1.5rem;
  border-radius: 8px;
}

.form-group {
  margin-bottom: 1.5rem;
}

textarea {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  resize: none;
}

button {
  margin-top: 0.5rem;
  padding: 0.4rem 0.8rem;
  font-size: 1rem;
  cursor: pointer;
}
